@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

section {
    position: relative;
    background: #080710;
    min-height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

section::before {
    content: '';
    position: absolute;
    width: 300px;
    height: 300px;
    background: linear-gradient(#9b22ea, #bf23f6);
    border-radius: 50%;
    transform: translate(-430px, -120px);
}

section::after {
    content: '';
    position: absolute;
    width: 250px;
    height: 250px;
    background: linear-gradient(#ff5122, #f09819);
    border-radius: 50%;
    transform: translate(380px, 150px);
}

.form {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 20px;
}

.box {
    position: relative;
    min-width: 350px;
    min-height: 400px;
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 0 25px 45px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 10px;
    border-right: 1px solid rgba(255, 255, 255, 0.2);
    border-right: 1px solid rgba(255, 255, 255, 0.2);
    z-index: 10;
    padding: 20px;
    backdrop-filter: blur(25px);
}

.box h3 {
    color: #fff;
}

.box form label {
    display: block;
    margin-top: 30px;
    font-size: 16px;
    font-weight: 500;
    color: #e5e5e5;
}

.box form input {
    display: block;
    height: 50px;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.07);
    border-radius: 3px;
    padding: 0 10px;
    outline: none;
    margin-top: 10px;
    font-size: 14px;
    font-weight: 300;
    color: #e5e5e5;
}

::placeholder { color: #e5e5e5; }

.box form button {
    margin-top: 10px;
    width: 100%;
    background-color: #ffffff;
    color: #080710;
    padding: 15px 0;
    font-size: 18px;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
}

.box form button:hover {
    background-color: #e7e5e5;
}