<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <title>Projeto2</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/formResponse.css') }}">
        <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.png') }}" type="image/x-icon" />
        <link rel="stylesheet" href="https://pyscript.net/latest/pyscript.css" />
        <script defer src="https://pyscript.net/latest/pyscript.js"></script>
    </head>
    <body>
        <section>
            <div class="box">
                <div class="header">
                    <h3>Lista</h3>
                    <a href="/formPage">Escrever na lista +</a>
                </div>
                <div id="box"></div>
            </div>
        </section>

        <py-script>
            listElement = Element('box')
            listProducts = []
            listQuantity = []
            formLength = 0

            def addToList(produtos, quantidades, length):
                idItem = 0
                for i in range(length):
                    idItem += 1
                    listComponent = f"<div class="'list'"><div class="'img'"><img src="'{{ url_for('static', filename='img/IconIMG.png') }}'"></div><div class="'content'"><h2 class="'rank'"><small>#</small>%s</h2><h4>%s</h4><p>x%s</p></div></div>" %(idItem, produtos[i], quantidades[i])
                    listElement.element.innerHTML += listComponent

            for key, value in {{form}}.items():
                formLength += 1
                if('produto' in key):
                    listProducts.append(value)
                if('quantidade' in key):
                    listQuantity.append(value)

            addToList(listProducts, listQuantity, formLength//2)
        </py-script>
    </body>
</html>